body{
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

/* CENTER SYSTEM */
.center-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* BOX */
.center-box{
    background: rgb(255, 255, 255);
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* INPUTS */
input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* BUTTON */
button{
    width: 95%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: rgb(5, 110, 124);
}

/* LINKS (dashboard buttons) */
a{
    display: block;
    margin: 10px 0;
    padding: 10px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover{
    background: rgb(43, 174, 226);
}

/* TABLE DESIGN */
table{
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
}

th{
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

td{
    padding: 10px;
    text-align: center;
}

tr:nth-child(even){
    background: #f2f2f2;
}
